body {
	margin:0;
	background-color:white;
	font-family: "KoPub돋움체_Pro Light";
	letter-spacing: -1px;
	color:#555555;
}

header {
    top:0;
	margin:0;
	padding:15px 2% 15px 2%;
	background-color:rgba(0,0,0,0.03);
	height:64px;
	width:100%;
	text-align:left;
	box-sizing: border-box;
	font-size: 15px;
	border-bottom: 2px rgba(0,0,0,0.05) double;
}

footer {
    position: fixed;
    z-index: 1;
    bottom:0;
	margin:0;
	padding:5px 5% 5px 5%;
	background-color:rgba(0,0,0,0.05);
	height:40px;
	width:100%;
	text-align:left;
	box-sizing: border-box;
	font-size: 13px;
	border-top: 2px rgba(0,0,0,0.05) double;
	border-bottom: 2px rgba(0,0,0,0.05) double;
}

nav {
	display: inline-block;
	float: right;
}

a {
	text-decoration: none;
	color:#555555;
}

a:hover {
	font-family: 'KoPub돋움체_Pro';
}

h1 {
	display: inline-block;
	font-family: 'KoPub돋움체_Pro Bold';
	letter-spacing: -3px;
}

small {
	color:#999999;
	font-size: 22px;
}

ul {
	list-style-type:none;
}

li {
	float:left;
	margin-left: 12px;
}

input {
	display: block;
	height:30px;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 0 10px;
	box-sizing: border-box;
}

input:focus {
    border: 1px solid #aaa;
}

button {
	display: inline-block;
	width:49%;
/*	bottom: 0;
*/	padding:7px 0;
	background-color:rgba(0,200,175,0.7);
	border-radius: 8px;
	border: 1px solid rgba(0,200,175,0.8);
	color: white;
	margin: auto;
	margin-top: 30px;
	font-size: 13px;
}

button:hover {
	background-color:rgba(0,200,175,0.8);

}

label {
	font-size: 15px;
	letter-spacing: -1px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.Container {
    width: 65%;
    height:100%;
    margin: auto;
}

.mainBoxContainer {
	height: 400px;
	margin: auto;
	margin-top: 10%;
    text-align: center;
}

.mainBoxText {
	font-size: 18px;
	letter-spacing: -3px;
	color: #555555
}

.mainBox {
	display: inline-block;
	background-color:rgba(0,200,175,0.4);
	height:450px;
	width:300px;
	border-radius: 20px;
	box-sizing: border-box;
	padding-top: 100px;
	border: 1px solid rgba(0,200,175,0.2);
}

.mainBox:hover {
	background-color:rgba(0,200,175,0.5);
	color:#555555;

}

.ml-input {
	display: block;
	height: 255px;
	border: 2px solid rgba(0,200,175,0.5);
	border-radius: 20px;
	margin-top: 20px;
	padding:5px 20px 20px 20px;
	line-height: 12px;
}

.ml-text {
	width: 49%;
	display: inline-block;
	float: left;
	font-size: 13px;
}

.ml-pic {
	width: 49%;
	float: right;
	display: inline-block;
}

#ml-pic-input {
	border-style: none;
	padding:0;
}

#ml-pic-added {
	height: 185px;
	width: 185px;
	border: 2px solid rgba(0,200,175,0.5);
	border-radius: 15px;
}

.font-small {
	font-size: 13px;
}

#logo{
	font-family: "Arial Rounded MT Bold";
	display: inline;
	margin: auto;
	letter-spacing: -5px;
	color:#444444;
}

#dingbet {
	font-family: "Arial Rounded MT Bold";
	display: inline;
	margin: auto;
	letter-spacing: -5px;
	color:rgba(0,200,175,1);
}

#dingbet:hover {
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}